## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Cape Town,ZA,71.10,clear sky,-33.93,18.42,Southern Sun Waterfront Cape Town
1,1,Katsuura,JP,69.04,overcast clouds,35.13,140.30,Katsuura Hotel Mikazuki
2,2,Mongu,ZM,81.57,clear sky,-15.25,23.13,Country Lodge Mongu
3,7,Victoria,HK,84.33,overcast clouds,22.29,114.16,Mini Central
4,9,Garowe,SO,85.28,overcast clouds,8.41,48.48,Curubo Hotel
...,...,...,...,...,...,...,...,...
436,708,Tangzhai,CN,61.61,few clouds,34.43,116.59,Huilong Business Hotel
437,710,Tura,IN,73.94,overcast clouds,25.52,90.22,Hotel RIKMAN Continental
438,711,Shimoda,JP,65.10,overcast clouds,34.67,138.95,Shimoda Tokyu Hotel
439,715,Anderson,US,91.15,clear sky,34.53,-82.65,The Bleckley Inn
440,716,Springbok,ZA,61.16,broken clouds,-29.66,17.89,Undulata Country Lodge

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current weather</dt><dd>{Max Temp} °F and {Current Description}</dd>

</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start_df = vacation_df.loc[vacation_df["City"]=="Sao Joao Da Barra"]
vacation_end_df= vacation_df.loc[vacation_df["City"]=="Sao Joao Da Barra"]
vacation_stop1_df = vacation_df.loc[vacation_df["City"]=="Arraial Do Cabo"]
vacation_stop2_df = vacation_df.loc[vacation_df["City"]=="Ubatuba"]
vacation_stop3_df = vacation_df.loc[vacation_df["City"]=="Botelhos"]

vacation_start_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
155,268,Sao Joao Da Barra,BR,80.69,broken clouds,-21.64,-41.05,Pousada Porto De Canoas

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start_df["Lat"].to_numpy()[0], vacation_start_df["Lng"].to_numpy()[0]

end = vacation_end_df["Lat"].to_numpy()[0], vacation_end_df["Lng"].to_numpy()[0]

stop1 = vacation_stop1_df["Lat"].to_numpy()[0], vacation_stop1_df["Lng"].to_numpy()[0]

stop2 = vacation_stop2_df["Lat"].to_numpy()[0], vacation_stop2_df["Lng"].to_numpy()[0]

stop3 = vacation_stop3_df["Lat"].to_numpy()[0], vacation_stop3_df["Lng"].to_numpy()[0]

stop2

(-23.43, -45.07)

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig =gmaps.figure()

itinerary_route= gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode='DRIVING')     
                                   
fig.add_layer(itinerary_route)

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start_df,vacation_end_df,vacation_stop1_df,vacation_stop2_df,vacation_stop3_df],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,268,Sao Joao Da Barra,BR,80.69,broken clouds,-21.64,-41.05,Pousada Porto De Canoas
1,268,Sao Joao Da Barra,BR,80.69,broken clouds,-21.64,-41.05,Pousada Porto De Canoas
2,162,Arraial Do Cabo,BR,75.16,clear sky,-22.97,-42.03,Pousada Porto Praia
3,591,Ubatuba,BR,69.10,overcast clouds,-23.43,-45.07,Hotel Pousada Dellamares
4,616,Botelhos,BR,82.89,broken clouds,-21.63,-46.40,Hotel Prata de Minas

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current weather</dt><dd>{Max Temp} °F and {Current Description}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
locations

     Lat    Lng
0 -21.64 -41.05
1 -21.64 -41.05
2 -22.97 -42.03
3 -23.43 -45.07
4 -21.63 -46.40

In [10]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))